# Specific to local builds
/local.properties
/build
**/build
/buildSrc/build
.gradle
.DS_Store
*.output
.project

# IDEA specific files
/.idea/**
*.iml
/**/.idea/
/**/local.properties

# Google-services.json
/**/google-services.json
